- content_for(:head) do
  %script{:src=>'/assets/posts.js'}
= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %ul
        - @post.errors.full_messages.each do |msg|
          %li.error= msg
  = f.hidden_field :lang_id
  - if @post.new_record?
    .field
      = f.label 'Your email'
      = f.text_field :user_email, :value => @post.user_email
  .field
    = f.label :title
    = f.text_field :title

  %br
  .field
    = f.label :body
    = f.text_area :raw_body, :class=>'code_input', :value=>@post.raw_body || @post.body

  %br
  .actions
    = f.submit '  Save  ', :class=>'btn btn-primary'
    %span.spacer
    %a{:href=>posts_preview_path, :class=>'btn',   :id=>'edit_preview_button'}  Preview

.hidden
  %form{:id=>"preview_form", :action=>posts_preview_path, :method=>'post', :target=>"_blank"}
    %textarea{:id=>"preview_body", :name=>"preview_body"}
    %input{:id=>"preview_lang_id", :type=>'text', :name=>"preview_lang_id"}
    %input{:td=>"preview_ts", :name=>"preview_ts", :type=>'text'}


