.span9
  %section{:id=>"post_#{@post.id}"}
    = link_to 'Back to main', posts_path

    .page-header
      %h1= @post.title
    %p.lead= @post.description

    = @post.body.html_safe
  -if is_admin?
    = link_to 'Edit', edit_post_path(@post)

=render 'preview_area'