.span9
  %section{:id=>"post_#{@post.id}", :class=>"post"}
    = link_to 'Back to main', posts_path

    .page-header
      %h1= @post.title
      %p.date= @post.created_at.strftime('%d.%M.%Y')

    = @post.body.html_safe
  -if is_admin?
    %br
    %br
    = link_to 'Edit', edit_post_path(@post), :class=>'btn btn-primary '
    %span.spacer
    - unless @post.confirmed?
      %a{:href=>posts_confirm_path(:id=>@post.id), :class=>'btn btn-success', :id=>'edit_confirm_button'}  Confirm
    - if @post.confirmed
      %a{:href=>posts_discard_path(:id=>@post.id), :class=>'btn btn-danger',  :id=>'edit_discard_button'}  Discard

=render 'preview_area'

:javascript
  window.postId = '#{@post.id}';