%p#notice= notice

%p
  %b User:
  = @post.user
%p
  %b Description:
  = @post.description
%p
  %b Body:
  = @post.body
%p
  %b Title:
  = @post.title

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
